node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Claude
CLAUDE.local.md
CLAUDE
/docs

# Firebase
firebase-debug.log
firestore-debug.log

# Misc.
src/lib/data
scripts
dump